
<nav class="navbar">
  <span class="navbar-logo"> PawPlay</span>
  <div class="navbar-menu">
    <a class = "navbar-button" href="/login">Your Items</a>
    <a class = "navbar-button" href="/login">Favorites</a>
    <a class = "navbar-button" href="/register">Filter</a>
    <a class = "navbar-button" href="/auth/users/login">Login</a>
  </div>
</nav>
