body {
  font-family: Arial, sans-serif;
  background-color: #F7F7F7;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #444444;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    color: #444444;
    margin-bottom: 10px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
  }

  input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #009933;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background-color: #007722;
    }
  }
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 18px;
      font-weight: bold;
      color: #444444;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #777777;
      margin-bottom: 10px;
    }
  }
}
