.navbar {
  background-color: rgb(0, 162, 255);
  color:rgb(253, 254, 255);
  height : 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-logo{
  align-self: center;
  font-family: 'Bungee', cursive;
  font-size: 48px;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
}
.navbar-button {
  background-color: rgb(0, 162, 255);
  color: white;
  padding: 14px 25px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}
.navbar-button:hover {
  color: white;
}
